
<%= form_with(model: [post, post.comments.build]) do |f| %>
    <div class="form-control">
        <div>
        <%= f.rich_text_area :body %>
        </div>
        <div>
        <%= f.submit "Reply", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
