<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= person.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= person.content %>
  </p>

</div>
