<tr class="users">
  <td class="middle"><%= user.id %></td>
  <td class="middle"><%= link_to "#{user.name}", user %></td>
  <td class="middle"><%= user.name %></td>
  <td class="middle"><%= user.name %></td>
</tr>
