<tr class="posts">
  <td class="middle"><%= post.id %></td>
  <td class="middle"><%= link_to "#{post.title}", post %></td>
  <td class="middle"><%= post.user.name %></td>
  <td class="middle"><%= post.category.name %></td>
</tr>
